@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.card {
  display: inline-block;
  width: 900px;
  height: 500px;
  margin-top: 20px;
  margin-left: 45px;
  margin-bottom: 20px;
  color:black;
  background-size: 100%;
  border-radius: 30px;
  opacity: 90%;
  background: #F09819;  
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  columns: 2;
  
  
}

.text{
  font-family: 'Righteous', cursive;
  font-size: medium;
  color: solid black ;
  padding-left: 25%;
  padding-right: 5%;
  padding-top: 1px;
  
  

}
.peso{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px; 
  margin-top: 0px;
  margin-bottom: 5px;

}



.image{
    display: flex;
    position: relative;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;
    width: 510px;
    height: 500px;
}


.boton { 
    width: 45%;
    background-color: rgb(0, 0, 0);
    
    padding: 1%;
    margin: 3% 0% 0% 15%;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    
    
  }
  
  .boton:hover{
    background-color: #EDDE5D;
    transform: scale(1.1);
    cursor: pointer;
  }
  .link{
    font-family: 'Righteous', cursive;
    color: #EDDE5D;
    font-size: large;
    
    width: max-content;
  }
  .link:hover{
    font-family: 'Righteous', cursive;
    font-size: large;
    color: black;
    
  }
    
